<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="relative bg-white">
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="container mt-20 space-y-10 justify-center">
          <h2 class="text-3xl block text-center items-center">
            404 Not Found!
          </h2>
          <div class="flex justify-center space-x-6">
            <a
              href="/polls"
              class="items-center px-3 bg-blue-200 text-black text-center"
              >See All Polls</a
            >
            <a
              href="/polls/create"
              class="px-3 bg-blue-200 text-black text-center"
              >Create New Poll</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
